* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Luckiest Guy", serif;
    background-image: url(./../IMAGENS/Background.png);
    background-size: contain;
  }

header {
    background-color: #3E4096;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: +10;
  }
  
header img {
    max-height: 70%;
    padding: 10px;
  }
  
header ul {
    display: flex;
    list-style: none;
  }
  
header li {
    margin-right: 25px;
    font-size: 1.4rem;
    transition: all ease .3s;
  }
  
header li:hover {
    border-bottom: 2px solid #ffff;
  }
  
header a {
    color: white;
    text-decoration: none;
  }
:root{
    --orange-color: #da722c
}
img{
    height: 370px;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0.25));
    border-radius: 12px;
    display: flex;
    
}
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background: var(--orange-color);
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.button:active{
  transform: scale(0.96);
}

#minhaLista {
  display: none;
  margin-top: 30px;
}

#minhaLista {
  display: none;
  margin-top: 10px;
  background-color: #8DA5ED;
  border-radius: 25px;
  width: 500px;
  height: 500px;
  padding: 20px; /* Espaço interno para dar margem da borda */
  box-sizing: border-box; /* Inclui padding dentro do width/height */
  text-align: center; /* Centraliza o texto */
}

#minhaLista ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Garante que a lista ocupe o espaço disponível */
}

#minhaLista li {
  padding: 10px 0; /* Ajuste o espaço entre os itens da lista */
}



.eventos{
    /* background-color: #8DA5ED; */
    padding: 90px;
}
.eventos h1{
    text-align: center;
    padding: 40px;
    
}

.eventos .eventos-telas{
  display: flex;
  gap: 73px;
  justify-content: center;
  align-items: center;
}
.eventos .eventos-tela{
  background: #8DA5ED;
  border-radius: 12px;
  padding: 20px 32px;
}

.info{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.light{
  color: rgb(0, 0, 0);
  font-size:x-large;
  text-align: center;
  /* filter: drop-shadow(0px 4px 8px rgba(0,0,0.25)); */
}
.light{
  background-color: #8DA5ED;
  margin-bottom: 60px;
  border-radius: 10px;
  padding: 20px;
}
.wrapper{
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}



footer {
  background: #ED3237;
  width: 100%;
  height: 7%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} 