* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Luckiest Guy", serif;
  background-image: url(./../IMAGENS/Background.png);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

header {
  background-color: #3E4096;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

header img {
  max-height: 70%;
  padding: 10px;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  margin-right: 25px;
  font-size: 1.4rem;
  transition: all ease .3s;
}

header li:hover {
  border-bottom: 2px solid #ffff;
}

header a {
  color: white;
  text-decoration: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.apresentacao {
  background-color: #3E4096;
  width: 30%;
  height: 38%;
  border-radius: 50px;
  padding: 30px;
  text-align: center;
}

.titulo p {
  padding: 0.6em;
  font-size: 2.5rem;
}

.conteudo p {
  font-size: 1.3em; 
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.slider {
  width: 800px;
  height: 600px;
  overflow: hidden;
  background-color: #3E4096;
  padding: 40px;
  border-radius: 20px;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
  border-radius: 20px;
  position: relative;
}

.img {
  left: 50px;
}

.img2 {
  left: 100px;
}

.img3 {
  left: 150px;
}

#radio1:checked~.primeiro {
  margin-left: 0;
}

#radio2:checked~.primeiro {
  margin-left: -26.7%;
}

#radio3:checked~.primeiro {
  margin-left: -53.2%;
}

#radio4:checked~.primeiro {
  margin-left: -79.7%;
}

footer {
  background: #ED3237;
  width: 100%;
  height: 7%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons i {
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 1700px) {
  
  .titulo p {
    font-size: 2em;
  }

  .conteudo p{
    font-size: 1em;
  }
  
  .slider {
    width: 530px;
    height: 400px;
  }

  .slide img {
    height: 400px;
    width: 520px;
  }

  #radio1:checked~.primeiro {
    margin-left: 0;
  }

  #radio2:checked~.primeiro {
    margin-left: -27.2%;
  }

  #radio3:checked~.primeiro {
    margin-left: -54.6%;
  }

  #radio4:checked~.primeiro {
    margin-left: -82%;
  }

}

@media screen and (max-width: 600px) {

  .lista {
    display: none;
    flex-direction: column;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .lista.visible {
    display: flex;
    text-align: center;
    transform: translateY(0);
    position: absolute;
    background-color: #313379;
    top: 100%;
    width: 100%;
    z-index: 1000;
  }

  .lista li {
    margin: 10px 0;
    transition: all ease .3s;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 87vh;
  }

  .apresentacao {
    height: 35%;
    width: 67%;
    margin-top: 20%;
  }

  .titulo p {
    font-size: 26px;
    padding: 0;
  }

  .conteudo p {
    font-size: 0.8em;
    margin-top: 10px;
  }

  .slider {
    width: 280px;
    height: 200px;
  }

  .slide img {
    height: 200px;
    width: 280px;
  }

  #radio1:checked~.primeiro {
    margin-left: 0;
  }

  #radio2:checked~.primeiro {
    margin-left: -29.6%;
  }

  #radio3:checked~.primeiro {
    margin-left: -58.9%;
  }

  #radio4:checked~.primeiro {
    margin-left: -88.5%;
  }

  footer {
    height: 50px;
  }

  .icons i {
    margin-right: 0px;
  }

  .icons .face {
    margin-right: 10px;
  }

  .icons .insta {
    margin-left: 10px;
  }

}
.popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40%;
  max-width: 600px;
  min-width: 300px;
  display: none;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

.popup img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 8px;
}

#closePopup {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#closePopup:hover {
  background-color: darkred;
}

